<%- include('./partials/header') %>

<div class="home">
  <div class="content">
    <h1>Welcome!</h1>
    <div></div>
    <div></div>
    <HR />
    <h3>Quickly generate landscaping project costs with ease.</h3>
    <div class="infotext">Let's start creating some projects!</div>

    <a class="home-button" href="/your-projects/<%= user._id %>"> Ok! </a>
  </div>
  <%- include('./partials/footer') %>
</div>
