<%- include('./partials/header') %>

<div class="content">
  <h2>Welcome to my Landscape Project List App!</h2>
  <h5>Log in, and let's get started!</h5>

  <%- include('./partials/footer') %>
</div>
